# SET UP

El proposito de este mini proyecto es explorar tecnicas para tratar los valores nulos de un dataset. He decidido tratarlo con un proyecto de data science porque considero que le otorga estructura y facilidad de compresión cuando desee volver a revisar o mejorar.

La linea de trabajo de planeo seguir es una etapa de calidad de datos, para tener una perspectiva general del dataset. Luego un analisis explotario por medio de graficos, buscando relacion o tendencias en la data que pueden ser relevantes para mejorar mi entendimiento de la informacion. Con ello pasamos al objetivo que es aplicar diferentes metodos para trabajar valores nulos y  ver el impacto que tiene en el algoritmo. Así, elegir el metodo de entrega mejor resultado y buscar el modelo que se adapte mejor para llegar al resultado optimo.

## IMPORTAR PAQUETES

In [12]:
import os
import numpy as np
import pandas as pd

#Automcompletar rápido
%config IPCompleter.greedy=True

## CREAR EL DIRECTORIO DEL PROYECTO

### Definir el directorio raiz donde vamos a crear el proyecto

In [13]:
raiz = 'C:/Users/matia/OneDrive/Escritorio/'

### Definir el nombre del proyecto

In [14]:
nombre_dir = 'Water_Quality'

### Crear el directorio y la estructura del proyecto

In [15]:
path = raiz + nombre_dir

In [16]:
try:
     os.mkdir(path)
     os.mkdir(path + '/01_Documentos')
     os.mkdir(path + '/02_Datos')
     os.mkdir(path + '/02_Datos/01_Originales')
     os.mkdir(path + '/02_Datos/02_Validacion')
     os.mkdir(path + '/02_Datos/03_Trabajo')
     os.mkdir(path + '/02_Datos/04_Caches')
     os.mkdir(path + '/03_Notebooks')
     os.mkdir(path + '/03_Notebooks/01_Funciones')
     os.mkdir(path + '/03_Notebooks/02_Desarrollo')
     os.mkdir(path + '/03_Notebooks/03_Sistema')
     os.mkdir(path + '/04_Modelos')
     os.mkdir(path + '/05_Resultados')
     os.mkdir(path + '/09_Otros')
    
except OSError:
     print ("La creación del directorio %s ha fallado" % path)
else:
     print ("Se ha creado satisfactoriamente el directorio %s " % path)

La creación del directorio C:/Users/matia/OneDrive/Escritorio/Water_Quality ha fallado

Entrega un error dado que el directorio ya esta creado.

### Situar el directorio de trabajo en el proyecto

In [17]:
os.chdir(path)

### Mover el environment.yml

Buscar manualmente el archivo riesgos.yml, que posiblemente lo haya ubicado en C:\Users\tu_usuario y moverlo a la carpeta /01_Documentos'

## CREAR LOS DATASETS INICIALES

Poner los datos originales en la carpeta '/02_Datos/01_Originales'

### Importar los datos

Sustituir el nombre_fichero_datos.

In [18]:
nombre_fichero_datos = 'water_potability.csv'

Cargar los datos.

In [19]:
ruta_completa = path + '/02_Datos/01_Originales/' + nombre_fichero_datos

datos = pd.read_csv(ruta_completa)
datos

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

El numero total de registro en bajo, por ello no voy a tomar un muestra y utilizar todo el dataset para trabajar.

### Extraer y guardar el dataset de trabajo

In [20]:
trabajo = datos

In [21]:
nombre_fichero_trabajo = 'trabajo.csv'

ruta_completa = path + '/02_Datos/03_Trabajo/' + nombre_fichero_trabajo

trabajo.to_csv(ruta_completa)